---
import Layout from "../layout.astro";
import Buscador from "../../components/blog/buscadorProyectos";
import '../../global.css';
---

<Layout title="BLOG">
    <div class="mt-20 flex flex-col justify-center items-center">
 <h2 class="text-4xl font-bold">BLOG</h2>
  <div>  <Buscador client:load/></div>

      



</div>
</Layout>
