---
import Navbar from '../components/navbar.astro';
import Footer from '../components/Footer.astro';

export let href;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-gradient-to-b from-black to-slate-700 text-white">
    <Navbar href={href}/>
    <main>
      <slot /> <!-- Aquí es donde se renderizará el contenido de la página -->
    </main>
    <Footer/>
  </body>
</html>

<style>
    html {
  scroll-behavior: smooth;
}
</style>