---
import Layout from "./layout.astro";
---

<Layout title="Proyectos">
  <div class="container mx-auto p-5 mt-20 lg:max-w-4xl md:max-w-2xl">
    <div class="flex justify-center">
      <h1 class="text-4xl">Proyectos</h1>
    </div>
  </div>
</Layout>
